.sider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #002140;
  padding: 1rem;
  color: white;
}

.title:global(.ant-typography) {
  margin-left: 1rem;
  margin-top: 1rem;

  color: white;
}

.content {
  padding: 2rem;
}
