.input-group:global(.ant-input-group) {
  margin-bottom: 1rem;
}

.searchPopoverWrapper {
  align-self: center;
  justify-content: space-between;
  display: flex;
  width: 30rem;
}

.selectBox {
  width: 16rem;
}

.checkBox {
  display: flex;
  flex-direction: column;
}

.curChekBox {
  margin: 0px !important;
}
